/* Base */
body {
  color: #666666;
  background: white;
  font-family: "Cabin", sans-serif; }
  body a {
    color: #f38630; }

.container-fluid {
  margin-top: 1em;
  position: relative; }

header {
  text-align: left;
  width: 350px;
  float: left;
  margin-right: 2em;
  position: fixed; }
  header h1 {
    font-family: "Podkova", cursive;
    text-transform: lowercase;
    font-size: 6em;
    line-height: 1em;
    text-align: right;
    color: #69d2e7; }
  header h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5em;
    text-align: right;
    max-width: 700px;
    margin: auto; }
  header .portrait {
    text-align: right; }
    header .portrait img {
      width: 65%; }
  header #contact {
    text-align: right;
    margin-top: 1em; }
    header #contact ul {
      list-style: none;
      margin: 10px 0; }
      header #contact ul li {
        display: inline-block; }
        header #contact ul li img {
          width: 50px; }

.resume {
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
  font-weight: bold;
  margin: 12px 0; }

#content {
  position: relative;
  margin-left: 380px; }
  #content nav {
    position: fixed;
    top: 0;
    padding: 1em;
    right: 0;
    left: 380px;
    background: white; }
    #content nav ul {
      margin: 0;
      font-size: 1.2em; }
      #content nav ul li {
        display: inline-block;
        text-transform: lowercase;
        margin-right: 1.2em; }
  #content h1 {
    font-family: "Cabin", sans-serif;
    margin-top: 50px;
    color: #a7dbd8; }

#projects .project {
  margin: 30px auto; }

#projects .project-header {
  text-align: center;
  margin: 10px 0; }

#projects .project-header img {
  width: 80%;
  text-align: center; }

#publications ul {
  list-style: none;
  margin: 0; }

#publications ul li {
  margin-bottom: 20px; }

/* Tablet */
@media (min-width: 768px) {
  #projects .project {
    display: table;
    margin: 0;
    margin-bottom: 40px; }

  #projects .project .project-header {
    width: 30%;
    display: table-cell; }

  #projects .project-header img {
    width: 100%; }

  #projects .project .project-desc {
    padding-left: 20px; } }
/* Desktop */
@media (min-width: 970px) {
  #contact ul li img {
    width: 40px; } }
