$primary-color: #69D2E7;
$font-color: #666;
$background-color: #fff;
$link-color: #F38630;
$header-color: #A7DBD8;

/* Base */
body {
	color: $font-color;
	background: $background-color;
	font-family: "Cabin", sans-serif;

	a {
		color: $link-color;
	}
}

.container-fluid {
	margin-top: 1em;
	position: relative;
}

header {
	text-align: center;

	h1 {
		font-family: "Podkova", cursive;
		text-transform: lowercase;
		font-size: 5em;
		line-height: 1em;
		color: $primary-color;
	}

	h2 {
		font-size: 1.2em;
		font-weight: normal;
		line-height: 1.5em;
		max-width: 700px;
		margin: auto;
	}

	.portrait {
		text-align: center;

		img {
			width: 25%;
			min-width: 150px;
		}
	}

	#contact {
		margin-top: 1em;

		ul {
			list-style: none;
			margin: 10px 0;

			li {
				display: inline-block;

				img {
					width: 50px;
				}
			}
		}
	}
}

#content {
	position: relative;

	nav {
		text-align: center;
		padding: 1em;

		ul {
			margin: 0;
			font-size: 1.2em;

			li {
				display: inline-block;
				text-transform: lowercase;
				margin-right: 1.2em;
			}
		}
	}

	h1 {
		font-family: "Cabin", sans-serif;
		margin-top: 50px;
		color: $header-color;
		text-align: center;
	}

	#projects {
		.project {
			margin: 30px auto;
		}

		.project-header {
			text-align: center;
			margin: 10px 0;

			img {
				width: 80%;
				text-align: center;
			}
		}
	}

	#publications {
		ul {
			list-style: none;
			margin: 0;

			li {
				margin-bottom: 20px;
			}
		}
	}
}


/* Tablet */
@media (min-width: 768px) {
	#projects .project {
		display: table;
		margin: 0;
		margin-bottom: 40px;
	}
	#projects .project .project-header {
		width: 30%;
		display: table-cell;
	}
	#projects .project-header img {
		width: 100%;
	}
	#projects .project .project-desc {
		padding-left: 20px;
	}
}

/* Desktop */
@media (min-width: 970px) {
	header {
		width: 350px;
		float: left;
		margin-right: 2em;
		position: fixed;

		h1 {
			text-align: right;
			font-size: 6em;
		}

		h2 {
			text-align: right;
		}

		.portrait {
			text-align: right;

			img {
				width: 65%;
			}
		}

		#contact {
			text-align: right;
		}
	}

	#content {
		margin-left: 380px;

		nav {
			text-align: left;
			position: fixed;
			top: 0;
			right: 0;
			left: 380px;
			background: $background-color;
		}

		h1 {
			text-align: left;
		}
	}
}
