/* Base */
body {
	background: url('images/paper_4.png');
}

body a {
	color: #C73A58;
}

.container-fluid {
	max-width: 970px;
	margin: auto;
	padding-top: 1em;
}

header {
	text-align: center;
}

header h1 {
	font-family: "Rancho", cursive;
	text-transform: lowercase;
	font-size: 7em;
	line-height: 1em;
	text-align: center;
	color: #fff;
	text-shadow: -1px -1px white, 1px 1px #333;
}

header h2 {
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.5em;
	text-align: center;
	max-width: 700px;
	margin: auto;
}

.portrait {
	width: 14%;
	min-width: 160px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
}

.resume {
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: bold;
	margin: 12px 0;
}

#content h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
	margin-top: 50px;
	color: #20BEDC;
}

#projects .project {
	margin: 30px auto;
}
#projects .project-header {
	text-align: center;
	margin: 10px 0;
}
#projects .project-header img {
	width: 80%;
	text-align: center;
}

#publications ul {
	list-style: none;
	margin: 0;
}
#publications ul li {
	margin-bottom: 20px;
}

#contact ul {
	list-style: none;
	margin: 10px 0;
	text-align: center;
}
#contact ul li {
	display: inline-block;
}
#contact ul li img {
	width: 60px;
}

/* Tablet */
@media (min-width: 768px) {
	#projects .project {
		display: table;
		margin: 0;
		margin-bottom: 40px;
	}
	#projects .project .project-header {
		width: 30%;
		display: table-cell;
	}
	#projects .project-header img {
		width: 100%;
	}
	#projects .project .project-desc {
		padding-left: 20px;
	}
}

/* Desktop */
@media (min-width: 970px) {
	#contact ul li img {
		width: 40px;
	}
}
